<phpunit bootstrap="./Bootstrap.php" colors="true">
	convertNoticesToExceptions="true" convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="PagSeguro Module Tests">
			<directory>./PagSeguroTest</directory>
		</testsuite>
	</testsuites>

	<!-- Code Coverage Configuration -->
	<filter>
		<whitelist>
			<directory suffix=".php">../src/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="../build/coverage" title="Modulo Application"
			charset="UTF-8" yui="true" highlight="true" lowUpperBound="50"
			highLowerBound="85" />
		<log type="coverage-clover" target="../build/log/clover.xml" />
		<log type="junit" target="../build/log/junit.xml"
			logIncompleteSkipped="false" />
		<log type="testdox-text" target="../build/testdox/executed.txt" />
	</logging>
</phpunit>